# Python
.venv/
venv/
venv310/
__pycache__/
*.pyc
serviceAccountKey.json
# Node
node_modules/

# Environment
.env

# macOS
.DS_Store

# Build folders
dist/
build/

# Large model files
*.onnx
*.pth
*.pt

# Logs
*.log